*{
    margin:  0;
}
section{
    margin: 160px 180px;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom,rgba(10,20,46,1),rgba(21,35,71,1));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Space Mono', monospace;
    font-style: regular;
    color: white;
}

.col{
}

#hero-heading{
    font-size: 5em;
}


#hero-col-left{
    width: 50%;
    float: left;
}

#hero-col-right{
    width:50%;
    float: left;
    text-align: right;
}

.hero-profile-image{
    display: inline;
}
.hero-image{
    max-height: 400px;
}